/* GENERAL SPACING AND FONT FAMILY */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER STYLES */

.header {
    background-color: #1f2937;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}