/* GENERAL SPACING AND FONT FAMILY */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER STYLES */

.header {
    background-color: #1f2937;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* HERO STYLES */

.hero {
    background-color: #1f2937;
}

.hero .content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero .content p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero .content button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
}

/* ASIDE STYLES */

.aside {
    color: #1f2937;
}

.aside h2 {
    font-size: 36px;
}

.aside .aside-cards {
    font-size: 18px;
}

/* QUOTE STYLES */

.quote {
    background-color: #e5e7eb;
}

.quote blockquote {
    color: #1f2937;
}

.quote blockquote p {
    font-size: 36px;
    font-weight: light;
}

.quote blockquote quote {
    font-size: 18px;
    font-weight: 700;
}