/* GENERAL SPACING AND FONT FAMILY */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER STYLES */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 18px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header nav ul {
    display: flex;
    gap: 20px;
}

.header nav li {
    list-style-type: none;
}

.header nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* HERO STYLES */

.hero {
    background-color: #1f2937;
    padding: 90px 18px;
    display: flex;
    justify-content: center;
}

.hero .container {
    width: 1000px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero .content p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero .content button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
    padding: 7px 35px;
}

/* ASIDE STYLES */

.aside {
    color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 18px 120px;
}

.aside .container {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aside h2 {
    font-size: 36px;
}

.aside .aside-cards {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.aside .aside-cards .card {
    width: 165px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside .aside-cards .card img {
    width: 165px;
    height: 165px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

/* QUOTE STYLES */

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 110px 18px;
}

.quote .container {
    width: 800px;
}

.quote blockquote {
    color: #1f2937;
}

.quote blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote blockquote .quote-author {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

/* CTA STYLES */

.cta {
    display: flex;
    justify-content: center;
}

.cta .container {
    background-color: #3882f6;
    border-radius: 6px;
    width: 850px;
    padding: 50px 110px;
    display: flex;
}

.cta .cta-text {
    color: #f9faf8;
    flex: 5;
}

.cta button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    flex: 1;
    align-self: center;
    padding: 7px 0;
}

.cta h3 {
    font-size: 22px;
    font-weight: 700;
}

.cta p {
    font-size: 18px;
}

/* FOOTER STYLES */

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}